@define-color scratch_color #00ff00;
@define-color bg_color #929793;
@define-color bg_color_darken #828782;
@define-color bg_color_lighten #B2B7B3;
@define-color bg_color_halfblack #494B49; /* use instead of stipple */
@define-color fg_color #111;
@define-color fg_color_lighten #888;
@define-color base_color #929793;
@define-color text_color #111111;
@define-color selected_bg_color #638cbd;
@define-color selected_fg_color #111111;
@define-color tooltip_fg_color @text_color;
@define-color tooltip_bg_color #fff;

@define-color border_color_light #cccccc;
@define-color border_color_dark  #000000;
@define-color border_color_dim   #727773;
@define-color bg_color_input #828783;
@define-color fg_color_input @text_color;
@define-color fg_color_secondary #666666;
@define-color focus_color @fg_color;

/* Web colors. */
@define-color link_color #2c82dd;
@define-color link_color_visited #8020dd;
