menubar {
    background: @bg_color;
    color: @fg_color;
    border: 0px;
    margin: 0px 2px;
}

menu {
    background: @input_bg_color;
    color: @input_fg_color;
    border-style: ridge;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: @border_color_light;
    border-left-color: @border_color_light;
    border-bottom-color: @border_color_dark;
    border-right-color: @border_color_dark;
}


menuitem {
    padding: 1px 6px 1px 6px;
}


menu menuitem {
    padding: 1px;
    margin: 2px;
}

menuitem:hover,
menuitem:hover > *,
combobox menuitem:hover * {
    background: @selected_bg_color;
    color: @selected_fg_color;
}

toolbar {
    background: @input_bg_color;
    padding: 4px;
    margin: 0px 2px;

    border-style: ridge;
    border-width: 1px;
    border-top-color: @border_color_dark;
    border-left-color: @border_color_dark;
    border-bottom-color: @border_color_light;
    border-right-color: @border_color_light;
}

toolbar button:hover {
    background: @bg_color_lighten;
}

separator {
    background-color: @border_color;
    margin: 0.2em;
    min-width: 1px;
    min-height: 1px;
}

@import url("menu_hacks.css");
