/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

treeview button {
    padding-right: 8px;
    border-style: ridge;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: @border_color_light;
    border-left-color: @border_color_light;
    border-bottom-color: @border_color_dark;
    border-right-color: @border_color_dark;
}

treeview.view {
    background-color: @input_bg_color;
    color: @input_fg_color;
}

treeview.view:selected {
    border: 1px dotted @border_color;
    background: @bg_color;
}

treeview.view:selected:focus {
    border: 1px dotted @border_color;
    background: @bg_color;
}

treeview.trough {
    border-width: 1px;
    padding: 1px;
}

treeview.progressbar {
    background-color: alpha(@selected_bg_color, 1);
    color: alpha(@selected_fg_color, 1);
}

treeview.progressbar:selected,
treeview.progressbar:selected:focus {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

treeview header button {
    border-radius: 0;
    border-width: 1px;
}
treeview header button:not(:last-child) {
    border-right-width: 1px;
}
